@font-face {
    font-family: 'diabloregular';
    src: url('assets/font/webfontkit-20220919-084431/diablo_heavy-webfont.woff2') format('woff2'),
         url('assets/font/webfontkit-20220919-084431/diablo_heavy-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 2rem;
    /* color: aliceblue; */
}

h2{
    text-align: center;
    /* color: aliceblue; */
}

.btn{
    text-align: center;
    position: relative;
    top: 3rem;
}

button{
    border-color:aliceblue;
}

.hoursPerDay{
    /* color: aliceblue; */
    position: relative;
    top: 5rem;
    left: 40.5rem;
}

.btn-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    color: #fff;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}

body.dark {
    color: #fff!important;
    background: #333!important;
}
body.dark .btn-toggle {
    background: #f1f1f1;
    color: #333;
}

